html, body {
    height: 100%
}

body {
    width: 100%;
    margin: 0 auto;
    background: url(../../images/loginbg.png) no-repeat;
}

body.white {
    background-color: #fff;
}

body.white .login-hd {
    background: #fff;
}

body.white .login-hd .left-bg {
    display: none;
}

body.white .login-hd .right-bg {
    display: none;
}

body.white .login-hd .logo {
    background: url(../../images/login_logo_w.png) no-repeat
}

body.white .login-hd .split {
	height:100%;
	width:10px;
    background-color: white;
}

body.white .login-bd {
    background-color: #f1f1f1;
}

body.white .login-bd .lg-zone {
    background: url(../../images/login_bg_tubiao.png) center 46px no-repeat
}

body.white .login-bd .lg-zone .lg-box .lg-label h4 {
    border-left: none;
}

.login-hd {
    position: relative;
    height: 94px;
    line-height: 94px;
    min-width: 1200px
}

.login-hd .left-bg {
    position: absolute;
    width: 348px;
    height: 92px;
    left: 0;
    top: 0;
    background: url(../../images/login_top_left.png) no-repeat
}

.login-hd .right-bg {
    position: absolute;
    width: 267px;
    height: 92px;
    right: 0;
    top: 0;
    background: url(../../images/login_top_right.png) no-repeat
}

.login-hd .hd-inner {
    width: 1200px;
    height: 94px;
    line-height: 94px;
    margin: 0 auto
}

.login-hd .hd-inner .logo {
    position: relative;
    display: inline-block;
    width: 380px;
    height: 73px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 8px;
    background: url(../../images/login_logo.png) no-repeat
}

.login-hd .hd-inner .sys-name {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 25px;
    top: -31px
}

.login-bd {
    position: relative;
    min-width: 1200px
}

.login-bd .bd-inner {
    width: 100%;
    margin: 0 auto
}

.login-bd .bd-inner .inner-wrap {
    position: relative;
    padding-right: 504px
}

.login-bd .bd-inner .inner-wrap .lg-zone {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 504px
}

.login-bd .bd-inner .inner-wrap .lg-zone .alert {
    margin: 0 33px 10px
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box {
    position: absolute;
    right: 25%;
    top: 46px;
	border-radius:10px;
    box-shadow: 2px 2px 3px #ddd, -2px 0 3px #ddd;
    width: 364px;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 0.6);
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .line {
    position: absolute;
    left: 0;
    top: 0;
    height: 6px
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .line.line-y {
    width: 127px;
    background: #ff9d02
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .line.line-g {
    left: 127px;
    right: 0;
    background: #1da02d
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .lg-label {
    color: #000;
    font-size: 22px;
    height: 44px;
    line-height: 44px;
    margin-top: 23px;
    text-indent: 30px;
    margin-bottom: 20px
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .lg-label h4 {
    border-left: 4px solid #1da02b
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .input-item {
    margin-bottom: 22px;
    width: 296px;
    line-height: 40px;
    height: 40px;
    border-top: 1px solid #adadad;
    border-left: 1px solid #adadad;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    margin-left: 34px;
    
    
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .input-item i {
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #5d5c68;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .input-item input {
    border: 0;
    height: 40px;
    padding: 0;
    width: 236px;
    float: left;
    outline: none;
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
    
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .input-item input:focus {
    outline: none;
    text-decoration: none;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .lg-check {
    margin-bottom: 10px;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .lg-check .input-item {
    float: left;
    width: 172px;
    margin-right: 10px;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .lg-check .input-item input {
    width: 132px;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .lg-check .check-code {
    float: left;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    background-color: #ff9d02;
    color: #fff;
    width: 114px;
    text-align: center;
    font-size: 14px;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .tips {
    height: 20px;
    line-height: 20px;
    margin-bottom: 30px;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .tips input[type=checkbox] {
    position: relative;
    margin-left: 34px;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .tips label {
    font-size: 14px;
    color: #a3a3a3;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .tips a {
    float: right;
    font-size: 12px;
    text-decoration: none;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .tips a:hover {
    text-decoration: underline;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .tips a.register {
    color: #1da02b;
    margin-left: 12px;
    margin-right: 34px;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .tips a.forget-pwd {
    color: #000;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .enter input {
    display: inline-block;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    border-radius:8px;
    font-size: 16px;
    width: 142px;
    font-weight: bold;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .enter input.purchaser {
    margin-left: 34px;
    background-color: #f45438;
    margin-right: 9px;
}

.login-bd .bd-inner .inner-wrap .lg-zone .lg-box .enter input.supplier {
    background-color: #1da02b;
}

.login-bd .bd-inner .inner-wrap .lg-poster {
    height: 541px;
    width:100%;
    
}