html {
    height: 100%;
    background: #E8F2FE;
    min-width: 1200px;
    overflow: hidden
}


#pf-hd .pf-term{
	position: relative;
    float: left;
	line-height: 70px;
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
}
#pf-hd .pf-term .pf-term-name{
	
	color: white; 
	font-weight: bold; 
	font-family: '微软雅黑';
}
#pf-hd .pf-term .term-icon{
    font-size: 20px;
	color:#FFA500;
	
}

#pf-hd .pf-user {
    position: relative;
    float: right;
    margin-right: 20px;
    padding: 0 10px;
    height: 70px;
    line-height: 70px;
    cursor: pointer
}

#pf-hd .pf-user .pf-user-photo {
    float: left;
    margin: 12px 10px 0 0;
    width: 48px;
    height: 48px
}

#pf-hd .pf-user .pf-user-photo img {
    margin: 4px
}







#pf-hd .pf-user .pf-user-panel {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    background: #fff;
    z-index: 111;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 2px #ddd
}

#pf-hd .pf-user .pf-user-panel li {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    padding: 0 15px
}

#pf-hd .pf-user .pf-user-panel li a {
    color: #000;
    text-decoration: none
}

#pf-hd .pf-user .pf-user-panel li .iconfont {
    margin-right: 10px;
    color: #000;
}





#pf-hd .pf-user:hover .pf-user-panel {
    display: block
}

#pf-bd {
    position: absolute;
    top: 70px;
    bottom: 31px;
    left: 0;
    right: 0;
    padding: 0 0 0 220px;
    z-index: 1;
    transition: all 0.3s ease;
  
}

#pf-bd.toggle {
    padding-left: 0
}

#pf-bd.toggle #pf-sider {
    margin-left: -440px
}

#pf-bd.toggle #pf-sider .pf-model-name .toggle-icon {
    position: fixed;
    top: 84px;
    left: 0;
    z-index: 10;
    background-position: -22px 0
}









#pf-bd #pf-sider .sider-nav > li .sider-nav-title {
    float: left;
    width: 112px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px
}

#pf-bd #pf-sider .sider-nav > li .iconfont {
    float: right;
    font-size: 12px;
    color: white;
}

}


#pf-bd #pf-sider .sider-nav > li.current > a {
    border-left: 3px solid #ffa405;
    padding-left: 12px;
    color: #fff
}

#pf-bd #pf-sider .sider-nav > li.current .iconfont {
    color: #fff
}

#pf-bd #pf-sider .sider-nav > li.current .sider-nav-icon {
    color: #fff
}

#pf-bd #pf-sider .sider-nav > li .sider-nav-s {
    display: none;
    padding: 10px 0;
    background: #f1f1f1;
    color: #000;
    font-size: 12px;
    border-bottom: 1px solid #dbdbdb
}

#pf-bd #pf-sider .sider-nav > li .sider-nav-s li.active {
    background: #fff;
}

#pf-bd #pf-sider .sider-nav > li .sider-nav-s li.active:hover {
    background: #E8F2FE;
}


#pf-bd #pf-sider .sider-nav > li .sider-nav-s li.active a {
    color: #FFA500;
    font-weight: bold
}

#pf-bd #pf-sider .sider-nav > li .sider-nav-s a {
    height: 31px;
    line-height: 31px;
    color: #000;
    font-size: 12px;
    padding-left: 40px;
}

#pf-bd #pf-sider .sider-nav > li.current .sider-nav-s {
    display: block
}

#pf-bd #pf-page {
    float: left;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 0
}

#pf-bd #pf-page .easyui-tabs1 {
    min-width: 980px !important;
    height: 100% !important
}

#pf-bd #pf-page .easyui-tabs1 .tabs-header {
    border-top: none
}

#pf-bd #pf-page .easyui-tabs1 .tabs li {
    border-top: 1px solid #bfbfbf;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0
}


#pf-bd #pf-page .easyui-tabs1 .tabs {
    padding-left: 24px !important
}

#pf-bd #pf-page .easyui-tabs1 .tabs li.tabs-selected {
    border-top: 3px solid #1da02b
}

#pf-bd #pf-page .easyui-tabs1 .tabs-panels {
    border-bottom: none !important
}

#pf-bd #pf-page .easyui-tabs1 .tabs li a.tabs-inner {
    background: #dbdbdb;
    color: #000;
    border-bottom: 1px solid #bfbfbf;
    height: 42px !important;
    line-height: 42px !important
}

#pf-bd #pf-page .easyui-tabs1 .tabs li:hover a.tabs-inner, #pf-bd #pf-page .easyui-tabs1 .tabs li.tabs-selected a.tabs-inner {
    background: #fff
}

#pf-bd #pf-page .panel-body {
    overflow: hidden
}

#pf-ft {
    position: absolute;
    width: 100%;
    height: 27px;
    line-height: 27px;
    bottom: 3px;
    background: #f1f1f1;
    border-top: 1px solid #cacaca
}

#pf-ft .system-name, #pf-ft .copyright-name {
    float: left;
    margin-left: 8px;
    font-size: 12px;
    color: #8b8b8b
}

#pf-ft .system-name .iconfont, #pf-ft .copyright-name .iconfont {
    color: #1da02b;
    margin-right: 3px
}

#pf-ft .copyright-name {
    float: right
}

#pf-ft .copyright-name .iconfont {
    font-size: 8px;
}

.menu .menu-active {
    background: #1da02b;
    color: #fff
}
