



input {
	height: 22px;
	text-align: center;
	border-radius: 5px;
	width: 50px;
	border-radius: 5px;
}
.family-modle{
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}



#img1 {
	margin: 0;
	float: left;
	margin-top: 20px;
}

#img2 {
	margin: 0;
	float: left;
	margin-top: 20px;
}

.box1 {
	float: left;
	margin-left: 15px;
	margin-top: 20px;
	width: 80%;
	padding: 30px 20px;
	border: 5px solid #beceeb;
	position: relative;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background:#B0C4DE;
}

.box2 {
	float: left;
	margin-right: 15px;
	margin-top: 20px;
	width: 80%;
	padding: 30px 20px;
	border: 5px solid #beceeb;
	position: relative;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background:#ADD8E6;
}

.title{
	margin-top:-20px;
	font-size:20px;
	color:#fafafa;
	letter-spacing:0;
	text-shadow:0px 1px 0px #999,0px 2px 0px #888,
	0px 3px 0px #777,0px 4px 0px #666,0px 5px 0px #555,
	0px 6px 0px #444,0px 7px 0px #333,0px 8px 7px #001135;
	
}
.p{
	margin-top:20px;
	text-indent:25px;
	ine-height:8px;
	font-size:16px;
	
}
.result{
	margin-top:20px;
    -webkit-text-stroke: 1px black;
	letter-spacing: 0.04em;
	text-indent:25px;
}